
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.current-colorIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #000;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 16px;
}

table tbody tr td{
  max-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

textarea{
  resize: none;
}

.color-picker-component{
  .current-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #000;
    cursor: pointer;
  }

  .vue-color__chrome {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    z-index: 100;
  }

  .current-CurrencyFormat {
    display: inline-block;
    width: 22px;
    height: 22px;
  }
}